USE [LycheeActivityOnNode414]
GO
/****** Object:  StoredProcedure [dbo].[MaintenanceAuthentication_Proc]    Script Date: 11/17/2017 2:53:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Joshua Nishiguchi
-- Create date: 11/6/2017
-- Description:	If there has been no change within 30 minutes to an hour for a user, assume log off or afk and
--				change the user's auth token to make them login again.
-- =============================================
CREATE PROCEDURE [dbo].[MaintenanceAuthentication_Proc]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	IF EXISTS(SELECT Username FROM UserAuthenticationTbl GROUP BY Username, LastTimeUsed HAVING DATEDIFF(minute, LastTimeUsed, GETDATE()) >= 30)
	BEGIN
		UPDATE UserAuthenticationTbl
		SET Authtoken = (
			SELECT
				c1 AS [text()]
			FROM
				(
					SELECT TOP (40) c1
					FROM
					(
						VALUES
							('A'), ('B'), ('C'), ('D'), ('E'), ('F'), ('G'), ('H'), ('I'), ('J'),
							('K'), ('L'), ('M'), ('N'), ('O'), ('P'), ('Q'), ('R'), ('S'), ('T'),
							('U'), ('V'), ('W'), ('X'), ('Y'), ('Z'), ('0'), ('1'), ('2'), ('3'),
							('4'), ('5'), ('6'), ('7'), ('8'), ('9'), ('#'), ('$'), ('!'), ('@'), 
							('%'), ('^'), ('*')
					) AS T1(c1)
					ORDER BY ABS(CHECKSUM(NEWID()))
				) AS T2
			FOR XML PATH('')
			)
		FROM UserAuthenticationTbl
		WHERE Username in (	SELECT Username 
							FROM UserAuthenticationTbl 
							GROUP BY Username, LastTimeUsed
							HAVING 
								DATEDIFF(minute, LastTimeUsed, GETDATE()) >= 30)
	END
END
GO
